<h6>Select a color for the claws</h6>
<p>
  <%= form.label :color_claws %><br>
  <div class="btn-group-toggle" data-toggle="buttons">
    <%= form.collection_radio_buttons(:color_claws, Character.color_claws, :first, :first) do |r| %>
      <label class="btn btn-outline-secondary btn-lg btn-block"><%= r.radio_button %><%= r.label %></label>
    <% end %>
  </div>
</p>